*.npy
*.pyc
*.dat
*.md
*.pdf
.vscode
*.ps
*.png
*.sty
./latex/*
test.py
__pycache__/*
papier_flexible/*
rapport_jacquet/*
tail_symbols_definition/*
tails_report_2018/*
slides/*
woj
thrash
target
Pipfile
.*checkpoints
