*.npy
*.pyc
*.dat
*.md
*.pdf
.vscode
*.ps
*.png
test.py
__pycache__/*
papier_flexible/*
rapport_jacquet/*
tail_symbols_definition/*
lempelziv_report_2018/*
tails_report_2018/*
slides/*
woj
Pipfile
.*checkpoints
